/* For responsive */ 
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 638px) and (max-width: 767px) {
    body{background-color: black;}
/* ----------------------------------------------------------------------------- header section ----------------------------------------------------------------------------- */
    .navbar{padding: 0;}
    .logo{position: absolute;top: 0.09%;left: 2%;width: 25%;height: auto;}
    .nav-links{flex-direction: column;width: 100%;height: 75vh;justify-content: center;background: black;margin-top: -900px;font-size: 90%;}
    .nav-links li{margin: 5% auto;}
    .mobile-menu{margin-top: 0%;}
    li a:hover{background-color: #cb9942;padding: 10px 50px;border-radius: 10px;}
    .menu-btn{position: absolute;top: 2%;right: 6%;width: 5%;height: auto;cursor: pointer;display: block;}
/* ----------------------------------------------------------------------------- banner section ----------------------------------------------------------------------------- */
    .banner{width: 100%;height: 49vw;margin-top: 9%;background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(images/slider/3.jpg);background-position: center top;background-size: 100%;background-repeat: no-repeat;display: flex;align-items: center;justify-content: center;}
    .banner-content{margin-top: 25%;margin-left: -40%;color:white;text-align: center;}
    .banner-content h2{font-size: 1.3vmin;text-transform: uppercase;}
    .banner-content h1{font-size: 4vmin;font-family: 'MemphisRiver';color: #eab406;margin-bottom: 0px;}
    .banner-content p{font-size: 1.2vmin;margin-bottom: 5%;}
    .banner-content .option-1:hover{padding: 4% 7%;border: none;background-color: #efbb06;color: white;border-radius: 50px;box-shadow: inset 0 0 0 0 #efbb06;transition: ease-out 0.3s;outline: none;}
    .banner-content .option-2:hover{padding: 4% 7%;border: none;background-color: white;color: #efbb06;border-radius: 50px;box-shadow: inset 0 0 0 0 #efbb06;transition: ease-out 0.3s;outline: none;}
    .option-1{padding: 3% 7%;background-color: white;border-radius: 50px;color: black;font-size: 32%;text-transform: uppercase;}
    .option-2{padding: 3% 7%;background-color: #eab406;border-radius: 50px;color: white;font-size: 32%;text-transform: uppercase;}
    .option-1, .option-2{margin: 0 1%;}
/* ----------------------------------------------------------------------------- service content ----------------------------------------------------------------------------- */    
    .col1-sub1 a{color: #eab406;text-transform: uppercase;font-weight: bold;font-size: 50%;position: absolute;top: 25%;left: 22%;transform: translate(-50%, -50%);}
    .col1-sub2 a{color: #eab406;text-transform: uppercase;font-weight: bold;font-size: 50%;position: absolute;top: 73%;left: 22%;transform: translate(-50%, -50%);}
    .col2-sub a{color: #eab406;text-transform: uppercase;font-weight: bold;font-size: 50%;position: absolute;top: 48%;left: 72%;transform: translate(-50%, -50%);text-align: center;}
    .col1-sub1 a:hover, .col1-sub2 a:hover, .col2-sub a:hover{padding: 0.5%;border: none;background-color: #efbb06;color: white;border-radius: 50px;box-shadow: inset 0 0 0 0 #efbb06;transition: ease-out 0.3s;font-size: 0.5rem;outline: none;}
/* ----------------------------------------------------------------------------- main content ----------------------------------------------------------------------------- */
    .main-content{width: 100%;min-height: 1vh;box-sizing: border-box;overflow: hidden;background-color: white;}
    .line{width: 50px;height: 2px;background: #eab406;margin: 2% auto;border-radius: 5px;}
    .main-content-body h2{font-size: 80%;text-align: center;text-transform: uppercase;margin-top: 2%;}
    .main-content-body h3{font-size: 80%;text-align: center;font-weight: lighter;}
    .main-content-content{width: 100%;min-width: 1vh;box-sizing: border-box;overflow: hidden;}
    .col-1, .col-2, .col-3{float: left;width: 80%;height: auto;padding: 0 3px;margin: 1% 0 -3px 0;}
/* ----------------------------------------------------------------------------- sub content ----------------------------------------------------------------------------- */
    .sub-content{width: 100%;min-height: 1vh;box-sizing: border-box;overflow: hidden;background-color: white;}
    .sub-content-img{width: 100%;height: 20vw;background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(images/btm2-bg.jpg);background-repeat: no-repeat;background-position: center top;background-size: 100%;display: flex;align-items: center;justify-content: center;}
    .sub-content-content{width: 100%;min-width: 1vh;box-sizing: border-box;overflow: hidden;}
    .sub-content-container img{width: 100%;}
    .sub-content-row::after{content: "";display: table;clear: both;}
    .col-arrival, .col-best, .col-sale{float: left;/* width: 33.33%; */width: 25%;height: auto;padding: 5px;margin: 1% 0 0 5%;}
    .col-arrival p, .col-best p, .col-sale p{color: #efbb06;text-transform: uppercase;white-space: pre;margin: 10% 0;font-size: 50%;}
/* ----------------------------------------------------------------------------- footer content ----------------------------------------------------------------------------- */
    .footer-content{width: 100%;height: 15vw;padding-top: 2vw;background-color: #97770c;}
    .social-media{display: flex;align-items: center;justify-content: center;width: 30%;height: auto;margin-left: 36%;}
    .footer-text{color: white;text-align: center;margin-top: 2%;font-weight: 500;font-size: 75%;}
}
/* Medium devices (landscape tablets, 768px and 850) */
/* mao ning defualt media nako*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    body{background-color: black;}
/* ----------------------------------------------------------------------------- header section ----------------------------------------------------------------------------- */
    .navbar{padding: 0;}
    .logo{position: absolute;top: 2%;left: 4%;width: 15%;height: auto;}
    .nav-links{flex-direction: column;width: 100%;height: 50%;justify-content: center;background: black;margin-top: -900px;font-size: 90%;padding: 5% 0 0 0;}
    .nav-links li{margin: 5% auto;}
    .mobile-menu{margin-top: 0px;}
    li a:hover{background-color: #cb9942;padding: 10px 50px;border-radius: 10px;}
    .menu-btn{position: absolute;top: 4.5%;right: 6%;width: 3%;height: auto;cursor: pointer;display: block;}
/* ----------------------------------------------------------------------------- banner section ----------------------------------------------------------------------------- */
    .banner{width: 100%;height: 49vw;margin-top: 9%;background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(images/slider/3.jpg);background-position: center top;background-size: 100%;background-repeat: no-repeat;display: flex;align-items: center;justify-content: center;}
    .banner-content{margin-top: 25%;margin-left: -40%;color:white;text-align: center;}
    .banner-content h2{font-size: 1vmin;text-transform: uppercase;}
    .banner-content h1{font-size: 3vmin;font-family: 'MemphisRiver';color: #eab406;margin-bottom: 0px;}
    .banner-content p{font-size: 1vmin;margin-bottom: 5%;}
    .banner-content .option-1:hover{padding: 4% 7%;border: none;background-color: #efbb06;color: white;border-radius: 50px;box-shadow: inset 0 0 0 0 #efbb06;transition: ease-out 0.3s;outline: none;}
    .banner-content .option-2:hover{padding: 4% 7%;border: none;background-color: white;color: #efbb06;border-radius: 50px;box-shadow: inset 0 0 0 0 #efbb06;transition: ease-out 0.3s;outline: none;}
    .option-1{padding: 3% 7%;background-color: white;border-radius: 50px;color: black;font-size: 42%;text-transform: uppercase;}
    .option-2{padding: 3% 7%;background-color: #eab406;border-radius: 50px;color: white;font-size: 42%;text-transform: uppercase;}
    .option-1, .option-2{margin: 0 1%;}
/* ----------------------------------------------------------------------------- service content ----------------------------------------------------------------------------- */    
    .col1-sub1 a{color: #eab406;text-transform: uppercase;font-weight: bold;font-size: 100%;position: absolute;top: 25%;left: 22%;transform: translate(-50%, -50%);}
    .col1-sub2 a{color: #eab406;text-transform: uppercase;font-weight: bold;font-size: 100%;position: absolute;top: 73%;left: 22%;transform: translate(-50%, -50%);}
    .col2-sub a{color: #eab406;text-transform: uppercase;font-weight: bold;font-size: 100%;position: absolute;top: 48%;left: 72%;transform: translate(-50%, -50%);text-align: center;}
    .col1-sub1 a:hover, .col1-sub2 a:hover, .col2-sub a:hover{padding: 1%;border: none;background-color: #efbb06;color: white;border-radius: 50px;box-shadow: inset 0 0 0 0 #efbb06;transition: ease-out 0.3s;font-size: 1.2rem;outline: none;}
/* ----------------------------------------------------------------------------- main content ----------------------------------------------------------------------------- */
    .main-content{width: 100%;min-height: 1vh;box-sizing: border-box;overflow: hidden;background-color: white;}
    .line{width: 100px;height: 2px;background: #eab406;margin: 2% auto;border-radius: 5px;}
    .main-content-body h2{font-size: 100%;text-align: center;text-transform: uppercase;margin-top: 2%;}
    .main-content-body h3{font-size: 100%;text-align: center;font-weight: lighter;}
    .main-content-content{width: 100%;min-width: 1vh;box-sizing: border-box;overflow: hidden;}
    .col-1, .col-2, .col-3{float: left;width: 15%;height: auto;padding: 0 3px;margin: 1% 0 -3px 0;}
/* ----------------------------------------------------------------------------- sub content ----------------------------------------------------------------------------- */
    .sub-content{width: 100%;min-height: 1vh;box-sizing: border-box;overflow: hidden;background-color: white;}
    .sub-content-img{width: 100%;height: 20vw;background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(images/btm2-bg.jpg);background-repeat: no-repeat;background-position: center top;background-size: 100%;display: flex;align-items: center;justify-content: center;}
    .sub-content-content{width: 100%;min-width: 1vh;box-sizing: border-box;overflow: hidden;}
    .sub-content-container img{width: 100%;}
    .sub-content-row::after{content: "";display: table;clear: both;}
    .col-arrival, .col-best, .col-sale{float: left;/* width: 33.33%; */width: 25%;height: auto;padding: 5px;margin: 1% 0 0 5%;}
    .col-arrival p, .col-best p, .col-sale p{color: #efbb06;text-transform: uppercase;white-space: pre;margin: 10% 0;font-size: 75%;}
/* ----------------------------------------------------------------------------- footer content ----------------------------------------------------------------------------- */
    .footer-content{width: 100%;height: 12vw;padding-top: 2vw;background-color: #97770c;}
    .social-media{display: flex;align-items: center;justify-content: center;width: 30%;height: auto;margin-left: 36%;}
    .footer-text{color: white;text-align: center;margin-top: 2%;font-weight: 500;font-size: 75%;}
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    body{background-color: black ;}
    /* ----------------------------------------------------------------------------- header section ----------------------------------------------------------------------------- */
    .top-header{overflow: hidden;width: 100%;margin: auto;padding: auto;background-color: black;}
    .navbar{padding: 0; margin: 0;}
    .logo{position: absolute;top: 2%;left: 3%;width: 15%;height: auto;}
    .nav-links{flex-direction: column;width: 100%;height: 50%;justify-content: center;background: black;margin-top: -900px;font-size: 90%;padding: 7.5% 0 1% 0;}
    .nav-links li{margin: 2.5% auto;}
    .mobile-menu{margin-top: 0px;}
    li a:hover{background-color: #cb9942;padding: 15px 50px;border-radius: 10px;}
    .menu-btn{position: absolute;top: 3.5%;right: 6%;width: 3%;height: auto;cursor: pointer;display: block;}
    /* ----------------------------------------------------------------------------- banner section ----------------------------------------------------------------------------- */
    .banner{width: 100%;height: 49vw;margin-top: 8%;background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(images/slider/3.jpg);background-position: center top;background-size: 100%;background-repeat: no-repeat;display: flex;align-items: center;justify-content: center;}
    .banner-content{margin-top: 10%;margin-left: -30%;color:white;text-align: center;padding:0;}
    .banner-content h2{font-size: 2.5vmin;text-transform: uppercase;}
    .banner-content h1{font-size: 6.5vmin;font-family: 'MemphisRiver';color: #eab406;margin-bottom: 0px;}
    .banner-content p{font-size: 1.5vmin;margin-bottom: 5%;}
    .banner-content .option-1:hover{padding: 4% 7%;border: none;background-color: #efbb06;color: white;border-radius: 50px;box-shadow: inset 0 0 0 0 #efbb06;transition: ease-out 0.3s;outline: none;}
    .banner-content .option-2:hover{padding: 4% 7%;border: none;background-color: white;color: #efbb06;border-radius: 50px;box-shadow: inset 0 0 0 0 #efbb06;transition: ease-out 0.3s;outline: none;}
    .option-1{padding: 3% 7%;background-color: white;border-radius: 50px;color: black;font-size: 72%;text-transform: uppercase;}
    .option-2{padding: 3% 7%;background-color: #eab406;border-radius: 50px;color: white;font-size: 72%;text-transform: uppercase;}
    .option-1, .option-2{margin: 0 2%;}
    /* ----------------------------------------------------------------------------- service content ----------------------------------------------------------------------------- */    
    .col1-sub1 a{color: #eab406;text-transform: uppercase;font-weight: bold;font-size: 150%;position: absolute;top: 25%;left: 22%;transform: translate(-50%, -50%);}
    .col1-sub2 a{color: #eab406;text-transform: uppercase;font-weight: bold;font-size: 150%;position: absolute;top: 73%;left: 22%;transform: translate(-50%, -50%);}
    .col2-sub a{color: #eab406;text-transform: uppercase;font-weight: bold;font-size: 150%;position: absolute;top: 48%;left: 72%;transform: translate(-50%, -50%);text-align: center;}
    .col1-sub1 a:hover, .col1-sub2 a:hover, .col2-sub a:hover{padding: 1%;border: none;background-color: #efbb06;color: white;border-radius: 50px;box-shadow: inset 0 0 0 0 #efbb06;transition: ease-out 0.3s;font-size: 1.6rem;outline: none;}
    /* ----------------------------------------------------------------------------- main content ----------------------------------------------------------------------------- */
    .main-content{width: 100%;min-height: 1vh;box-sizing: border-box;overflow: hidden;background-color: white;}
    .line{width: 10%;height: 2px;background: #eab406;margin: 2% auto;border-radius: 5px;}
    .main-content-body h2{font-size: 130%;text-align: center;text-transform: uppercase;margin-top: 2%;}
    .main-content-body h3{font-size: 110%;text-align: center;font-weight: lighter;}
    /* .main-content-content{width: 100%;min-width: 1vh;box-sizing: border-box;overflow: hidden;} */
    .col-1, .col-2, .col-3{float: left;width: 25%;height: auto;padding: 0 3px;margin: 1% 0 -3px 0;}
    
    /* ----------------------------------------------------------------------------- sub content ----------------------------------------------------------------------------- */
    .sub-content{width: 100%;min-height: 1vh;box-sizing: border-box;overflow: hidden;background-color: white;}
    .sub-content-img{width: 100%;height: 20vw;background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(images/btm2-bg.jpg);background-repeat: no-repeat;background-position: center top;background-size: 100%;display: flex;align-items: center;justify-content: center;}
    .sub-content-content{width: 100%;min-width: 1vh;box-sizing: border-box;overflow: hidden;}
    .sub-content-container img{width: 100%;}
    .sub-content-row::after{content: "";display: table;clear: both;}
    .col-arrival, .col-best, .col-sale{float: left;/* width: 33.33%; */width: 25%;height: auto;padding: 5px;margin: 1% 0 0 5%;}
    .col-arrival p, .col-best p, .col-sale p{color: #efbb06;text-transform: uppercase;margin: 10% 0;font-size: 100%;}
    /* ----------------------------------------------------------------------------- footer content ----------------------------------------------------------------------------- */
    .footer-content{width: 100%;height: 12vw;padding-top: 2vw;background-color: #97770c;}
    .social-media{display: flex;align-items: center;justify-content: center;width: 30%;height: auto;margin-left: 36%;}
    .footer-text{color: white;text-align: center;margin-top: 2%;font-weight: 500;font-size: 100%;}  
} 
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    body{background-color: black;}
    /* ----------------------------------------------------------------------------- header section ----------------------------------------------------------------------------- */
    .top-header{overflow: hidden;width: 100%;margin: auto;padding: auto;background-color: black;}
    .navbar{padding: 0; margin: 0;}
    .logo{position: absolute;top: 3%;left: 4%;width: 15%;height: auto;}
    .nav-links{flex-direction: column;width: 100%;height: 50%;justify-content: center;background: black;margin-top: -900px;font-size: 90%;padding: 7.5% 0 1% 0;}
    .nav-links li{margin: 2.5% auto;}
    .mobile-menu{margin-top: 0px;}
    li a:hover{background-color: #cb9942;padding: 15px 50px;border-radius: 10px;}
    .menu-btn{position: absolute;top: 4.5%;right: 6%;width: 3%;height: auto;cursor: pointer;display: block;}
    /* ----------------------------------------------------------------------------- banner section ----------------------------------------------------------------------------- */
    .banner{width: 100%;height: 49vw;margin-top: 8%;background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(images/slider/3.jpg);background-position: center top;background-size: 100%;background-repeat: no-repeat;display: flex;align-items: center;justify-content: center;}
    .banner-content{margin-top: 10%;margin-left: -30%;color:white;text-align: center;padding:0;}
    .banner-content h2{font-size: 2.5vmin;text-transform: uppercase;}
    .banner-content h1{font-size: 6.5vmin;font-family: 'MemphisRiver';color: #eab406;margin-bottom: 0px;}
    .banner-content p{font-size: 1.5vmin;margin-bottom: 5%;}
    .banner-content .option-1:hover{padding: 4% 7%;border: none;background-color: #efbb06;color: white;border-radius: 50px;box-shadow: inset 0 0 0 0 #efbb06;transition: ease-out 0.3s;outline: none;}
    .banner-content .option-2:hover{padding: 4% 7%;border: none;background-color: white;color: #efbb06;border-radius: 50px;box-shadow: inset 0 0 0 0 #efbb06;transition: ease-out 0.3s;outline: none;}
    .option-1{padding: 3% 7%;background-color: white;border-radius: 50px;color: black;font-size: 72%;text-transform: uppercase;}
    .option-2{padding: 3% 7%;background-color: #eab406;border-radius: 50px;color: white;font-size: 72%;text-transform: uppercase;}
    .option-1, .option-2{margin: 0 2%;}
    /* ----------------------------------------------------------------------------- service content ----------------------------------------------------------------------------- */    
    .col1-sub1 a{color: #eab406;text-transform: uppercase;font-weight: bold;font-size: 150%;position: absolute;top: 25%;left: 22%;transform: translate(-50%, -50%);}
    .col1-sub2 a{color: #eab406;text-transform: uppercase;font-weight: bold;font-size: 150%;position: absolute;top: 73%;left: 22%;transform: translate(-50%, -50%);}
    .col2-sub a{color: #eab406;text-transform: uppercase;font-weight: bold;font-size: 150%;position: absolute;top: 48%;left: 72%;transform: translate(-50%, -50%);text-align: center;}
    .col1-sub1 a:hover, .col1-sub2 a:hover, .col2-sub a:hover{padding: 1%;border: none;background-color: #efbb06;color: white;border-radius: 50px;box-shadow: inset 0 0 0 0 #efbb06;transition: ease-out 0.3s;font-size: 1.6rem;outline: none;}
    /* ----------------------------------------------------------------------------- main content ----------------------------------------------------------------------------- */
    .main-content{width: 100%;min-height: 1vh;box-sizing: border-box;overflow: hidden;background-color: white;}
    .line{width: 10%;height: 2px;background: #eab406;margin: 2% auto;border-radius: 5px;}
    .main-content-body h2{font-size: 130%;text-align: center;text-transform: uppercase;margin-top: 2%;}
    .main-content-body h3{font-size: 110%;text-align: center;font-weight: lighter;}
    /* .main-content-content{width: 100%;min-width: 1vh;box-sizing: border-box;overflow: hidden;} */
    .col-1, .col-2, .col-3{float: left;width: 25%;height: auto;padding: 0 3px;margin: 1% 0 -3px 0;}
    /* ----------------------------------------------------------------------------- sub content ----------------------------------------------------------------------------- */
    .sub-content{width: 100%;min-height: 1vh;box-sizing: border-box;overflow: hidden;background-color: white;}
    .sub-content-img{width: 100%;height: 20vw;background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(images/btm2-bg.jpg);background-repeat: no-repeat;background-position: center top;background-size: 100%;display: flex;align-items: center;justify-content: center;}
    .sub-content-content{width: 100%;min-width: 1vh;box-sizing: border-box;overflow: hidden;}
    .sub-content-container img{width: 100%;}
    .sub-content-row::after{content: "";display: table;clear: both;}
    .col-arrival, .col-best, .col-sale{float: left;/* width: 33.33%; */width: 25%;height: auto;padding: 5px;margin: 1% 0 0 5%;}
    .col-arrival p, .col-best p, .col-sale p{color: #efbb06;text-transform: uppercase;margin: 10% 0;font-size: 100%;}
    /* ----------------------------------------------------------------------------- footer content ----------------------------------------------------------------------------- */
    .footer-content{width: 100%;height: 10vw;padding-top: 2vw;background-color: #97770c;}
    .social-media{display: flex;align-items: center;justify-content: center;width: 30%;height: auto;margin-left: 36%;}
    .footer-text{color: white;text-align: center;margin-top: 2%;font-weight: 500;font-size: 100%;}
}
/* above 1400px */
@media only screen and (min-width: 1921px) and (max-width: 1921px){
    body{background-color: black;}
    /* ----------------------------------------------------------------------------- header section ----------------------------------------------------------------------------- */
    .top-header{overflow: hidden;width: 100%;margin: auto;padding: auto;background-color: black;}
    .navbar{padding: 0; margin: 0;}
    .logo{position: absolute;top: 3%;left: 4%;width: 15%;height: auto;}
    .nav-links{flex-direction: column;width: 100%;height: 50%;justify-content: center;background: black;margin-top: -900px;font-size: 90%;padding: 7.5% 0 1% 0;}
    .nav-links li{margin: 2.5% auto;}
    .mobile-menu{margin-top: 0px;}
    li a:hover{background-color: #cb9942;padding: 15px 50px;border-radius: 10px;}
    .menu-btn{position: absolute;top: 4.5%;right: 6%;width: 3%;height: auto;cursor: pointer;display: block;}
    /* ----------------------------------------------------------------------------- banner section ----------------------------------------------------------------------------- */
    .banner{width: 100%;height: 49vw;margin-top: 8%;background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(images/slider/3.jpg);background-position: center top;background-size: 100%;background-repeat: no-repeat;display: flex;align-items: center;justify-content: center;}
    .banner-content{margin-top: 10%;margin-left: -30%;color:white;text-align: center;padding:0;}
    .banner-content h2{font-size: 2.5vmin;text-transform: uppercase;}
    .banner-content h1{font-size: 6.5vmin;font-family: 'MemphisRiver';color: #eab406;margin-bottom: 0px;}
    .banner-content p{font-size: 1.5vmin;margin-bottom: 5%;}
    .banner-content .option-1:hover{padding: 4% 7%;border: none;background-color: #efbb06;color: white;border-radius: 50px;box-shadow: inset 0 0 0 0 #efbb06;transition: ease-out 0.3s;outline: none;}
    .banner-content .option-2:hover{padding: 4% 7%;border: none;background-color: white;color: #efbb06;border-radius: 50px;box-shadow: inset 0 0 0 0 #efbb06;transition: ease-out 0.3s;outline: none;}
    .option-1{padding: 3% 7%;background-color: white;border-radius: 50px;color: black;font-size: 72%;text-transform: uppercase;}
    .option-2{padding: 3% 7%;background-color: #eab406;border-radius: 50px;color: white;font-size: 72%;text-transform: uppercase;}
    .option-1, .option-2{margin: 0 2%;}
    /* ----------------------------------------------------------------------------- service content ----------------------------------------------------------------------------- */    
    .col1-sub1 a{color: #eab406;text-transform: uppercase;font-weight: bold;font-size: 150%;position: absolute;top: 25%;left: 22%;transform: translate(-50%, -50%);}
    .col1-sub2 a{color: #eab406;text-transform: uppercase;font-weight: bold;font-size: 150%;position: absolute;top: 73%;left: 22%;transform: translate(-50%, -50%);}
    .col2-sub a{color: #eab406;text-transform: uppercase;font-weight: bold;font-size: 150%;position: absolute;top: 48%;left: 72%;transform: translate(-50%, -50%);text-align: center;}
    .col1-sub1 a:hover, .col1-sub2 a:hover, .col2-sub a:hover{padding: 1%;border: none;background-color: #efbb06;color: white;border-radius: 50px;box-shadow: inset 0 0 0 0 #efbb06;transition: ease-out 0.3s;font-size: 1.6rem;outline: none;}
    /* ----------------------------------------------------------------------------- main content ----------------------------------------------------------------------------- */
    .main-content{width: 100%;min-height: 1vh;box-sizing: border-box;overflow: hidden;background-color: white;}
    .line{width: 10%;height: 2px;background: #eab406;margin: 2% auto;border-radius: 5px;}
    .main-content-body h2{font-size: 130%;text-align: center;text-transform: uppercase;margin-top: 2%;}
    .main-content-body h3{font-size: 110%;text-align: center;font-weight: lighter;}
    /* .main-content-content{width: 100%;min-width: 1vh;box-sizing: border-box;overflow: hidden;} */
    .col-1, .col-2, .col-3{float: left;width: 25%;height: auto;padding: 0 3px;margin: 1% 0 -3px 0;}
    /* ----------------------------------------------------------------------------- sub content ----------------------------------------------------------------------------- */
    .sub-content{width: 100%;min-height: 1vh;box-sizing: border-box;overflow: hidden;background-color: white;}
    .sub-content-img{width: 100%;height: 20vw;background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(images/btm2-bg.jpg);background-repeat: no-repeat;background-position: center top;background-size: 100%;display: flex;align-items: center;justify-content: center;}
    .sub-content-content{width: 100%;min-width: 1vh;box-sizing: border-box;overflow: hidden;}
    .sub-content-container img{width: 100%;}
    .sub-content-row::after{content: "";display: table;clear: both;}
    .col-arrival, .col-best, .col-sale{float: left;/* width: 33.33%; */width: 25%;height: auto;padding: 5px;margin: 1% 0 0 5%;}
    .col-arrival p, .col-best p, .col-sale p{color: #efbb06;text-transform: uppercase;margin: 10% 0;font-size: 100%;}
    /* ----------------------------------------------------------------------------- footer content ----------------------------------------------------------------------------- */
    .footer-content{width: 100%;height: 8vw;padding-top: 2vw;background-color: #97770c;}
    .social-media{display: flex;align-items: center;justify-content: center;width: 30%;height: auto;margin-left: 36%;}
    .footer-text{color: white;text-align: center;margin-top: 2%;font-weight: 500;font-size: 100%;}
}
/* when zoomed out 30% */
@media screen and (min-height: 3100px) {
    body{margin: 0 auto auto auto; width: 30%; height: auto;}
/* ----------------------------------------------------------------------------- banner section ----------------------------------------------------------------------------- */
    .banner{width: 100%;height: 15vw;background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(images/slider/3.jpg);background-position: center top;background-size: 100%;background-repeat: no-repeat;display: flex;align-items: center;justify-content: center;}
    .banner-content{margin-top: 5%;margin-left: -40%;color:white;text-align: center;}
    .banner-content h2{font-size: 100%;text-transform: uppercase;}
    .banner-content h1{font-size: 100%;font-family: 'MemphisRiver';color: #eab406;margin-bottom: 0px;}
    .banner-content p{font-size: 100%;margin-bottom: 5%;}
    .banner-content .option-1:hover{padding: 3.5% 3%;border: none;background-color: #efbb06;color: white;border-radius: 50px;box-shadow: inset 0 0 0 0 #efbb06;transition: ease-out 0.3s;outline: none;}
    .banner-content .option-2:hover{padding: 3.5% 3%;border: none;background-color: white;color: #efbb06;border-radius: 50px;box-shadow: inset 0 0 0 0 #efbb06;transition: ease-out 0.3s;outline: none;}
    .option-1{padding: 2.5% 3%;background-color: white;border-radius: 50px;color: black;font-size: 100%;text-transform: uppercase;}
    .option-2{padding: 2.5% 3%;background-color: #eab406 !important;border-radius: 50px;color: white;font-size: 100%;text-transform: uppercase;}
    .option-1, .option-2{margin: 0 1%;}
/* ----------------------------------------------------------------------------- service content ----------------------------------------------------------------------------- */    
    .service-content{width: 100%;min-width: 1vh;height: 13vw;box-sizing: border-box;overflow: hidden}
    .col1-sub1 a{color: #eab406;text-transform: uppercase;font-weight: bold;font-size: 100%;position: absolute;top: 25%;left: 22%;transform: translate(-50%, -50%);}
    .col1-sub2 a{color: #eab406;text-transform: uppercase;font-weight: bold;font-size: 100%;position: absolute;top: 73%;left: 22%;transform: translate(-50%, -50%);}
    .col2-sub a{color: #eab406;text-transform: uppercase;font-weight: bold;font-size: 100%;position: absolute;top: 48%;left: 72%;transform: translate(-50%, -50%);text-align: center;}
    .col1-sub1 a:hover, .col1-sub2 a:hover, .col2-sub a:hover{padding: 1%;border: none;background-color: #efbb06;color: white;border-radius: 50px;box-shadow: inset 0 0 0 0 #efbb06;transition: ease-out 0.3s;font-size: 100%;outline: none;}
/* ----------------------------------------------------------------------------- main content ----------------------------------------------------------------------------- */
    .main-content{width: 100%;min-height: 1vh;box-sizing: border-box;overflow: hidden;background-color: white;}
    .line{width: 50px;height: 2px;background: #eab406;margin: 2% auto;border-radius: 5px;}
    .main-content-body h2{font-size: 100%;text-align: center;text-transform: uppercase;margin-top: 2%;}
    .main-content-body h3{font-size: 100%;text-align: center;font-weight: lighter;}
    .main-content-content{width: 100%;min-width: 1vh;box-sizing: border-box;overflow: hidden;}
    .col-1, .col-2, .col-3{float: left;width: 80%;height: auto;padding: 0 3px;margin: 1% 0 -3px 0;}
/* ----------------------------------------------------------------------------- sub content ----------------------------------------------------------------------------- */
    .sub-content{width: 100%;min-height: 1vh;box-sizing: border-box;overflow: hidden;background-color: white;}
    .sub-content-img{width: 100%;height: 6.3vw;background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(images/btm2-bg.jpg);background-repeat: no-repeat;background-position: center top;background-size: 100%;display: flex;align-items: center;justify-content: center;}
    .sub-content-content{width: 100%;min-width: 1vh;box-sizing: border-box;overflow: hidden;}
    .sub-content-container img{width: 100%;}
    .sub-content-row::after{content: "";display: table;clear: both;}
    .col-arrival, .col-best, .col-sale{float: left;/* width: 33.33%; */width: 25%;height: auto;padding: 5px;margin: 1% 0 0 5%;}
    .col-arrival p, .col-best p, .col-sale p{color: #efbb06;text-transform: uppercase;white-space: pre;margin: 10% 0;font-size: 100%;}
/* ----------------------------------------------------------------------------- footer content ----------------------------------------------------------------------------- */
    .footer-content{width: 100%;height: 4vw;padding-top: 3%;background-color: #97770c;}
    .footer-img{width: 100%;height: 4.8vw;background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/btm4-bg.jpg);background-repeat: no-repeat;background-position: center top;background-size: 100%;display: flex;align-items: center;justify-content: center;}
    .social-media{display: flex;align-items: center;justify-content: center;width: 25%;height: auto;margin-left: 37.5%;}
    .footer-text{color: white;text-align: center;margin-top: 2%;font-weight: 500;font-size: 100%;}
}